## Reto 3: `merge` para completar información faltante

### 1. Objetivos:
    - Completar la tabla `users` usando la información contenida en las tablas `occupations` y `age_ranges`.
    
---
    
### 2. Desarrollo:

#### a) Complementado información usando el método `merge`

No es muy práctico tener las tablas `occupations` y `age_range` por sí solas, ya que la información que contienen está íntimamente relacionada con al información de la tabla `users`. Vamos entonces a unir las tres tablas en una sola tabla para tener esa información mucho más accesible. Tu Reto consiste en los siguientes pasos:

1. Lee tus archivos `users`, `occupations` y `age_range` (o como sea que les quisiste llamar) y conviértelos en `DataFrames`.
2. Utiliza el método `merge` para agregar la información contenida en la tabla `occupations` a la tabla `users`.
3. Utiliza el método `merge` para agregar la información contenida en la tabla `age_ranges` a la tabla `users`.
4. Si lo consideras necesario, renombra y reordena las columnas para que la información sea clara.
5. Guarda tu nuevo conjunto de datos en un nuevo archivo .csv.

In [21]:
import pandas as pd

In [22]:
users = pd.read_csv('../data/users.csv', sep='|')
occupations = pd.read_csv('../data/occupations.csv', sep='|')
age_ranges = pd.read_csv('../data/age_ranges.csv', sep='|')

In [23]:

age_ranges.head()

   age_id     range
0       1  Under 18
1      18     18-24
2      25     25-34
3      35     35-44
4      45     45-49

In [24]:
users['occupation_id'] = users['occupation']
users['age_id'] = users['age']
users = users.merge(occupations, on='occupation_id', how='left')
users = users.merge(age_ranges, on='age_id', how='left')
users.set_index('user_id', inplace=True, drop=True)
users.drop(['occupation', 'age'], axis=1, inplace=True)
column_dict = {
    'description': 'occupation',
    'range': 'age_range'
}
users.rename(columns=column_dict, inplace=True)
users.head()

        gender     cp  occupation_id  age_id            occupation age_range
user_id
1            F  48067             10       1          K-12 student  Under 18
2            M  70072             16      56         self-employed       56+
3            M  55117             15      25             scientist     25-34
4            M  02460              7      45  executive/managerial     45-49
5            M  55455             20      25                writer     25-34

In [25]:
users.to_csv('../data/users-merged.csv', index=False, sep='|')

Compara tus resultados con tus compañeros y tu experta para asegurarse de que todos tengan un conjunto similar que contenga toda la información requerida.