## Reto 3: Map

### 1. Objetivos:
    - Practicar el uso del método `map` para mapear un dato a otro dato que le corresponde.
    
---
    
### 2. Desarrollo:

#### a) Booleanos a numéricos

Vamos a trabajar sobre el dataset que guardaste en el Reto anterior. Esta vez tu Reto es muy sencillo:

1. La columna `is_potentially_hazardous_asteroid` tiene valores `booleanos`. Crea un diccionario de mapeo donde hagas un correspondencia de cada valor `booleano` con su equivalente numérico y transforma esa columna.
2. Usa una función para mapear la columna `relative_velocity.kilometers_per_hour` a una nueva columna llamada `relative_velocity.kilometers_per_minute`, que contenga la velocidad del objeto en kilómetros por minuto.
3. Guarda tu `DataFrame` resultante en la variable `df_reto_3`.
4. Guarda tu resultado en un archivo .csv.

In [8]:
import pandas as pd

In [9]:
df_reto_2 = pd.read_csv('../retos/reto_2.csv')
# 1. is_potentially_hazardous_asteroid
mapDict = {
    True: 1,
    False: 0
}
df_reto_2['is_potentially_hazardous_asteroid'] = df_reto_2['is_potentially_hazardous_asteroid'].map(mapDict)
# 2. relative_velocity.kilometers_per_hour
def km_per_hour_to_km_per_minute(x):
    return x / 60
df_reto_2['relative_velocity.kilometers_per_minute'] = df_reto_2['relative_velocity.kilometers_per_hour'].map(km_per_hour_to_km_per_minute)
# 3.df_reto_3
df_reto_3 = df_reto_2.copy()
# save to csv
df_reto_3.to_csv('../retos/reto_3.csv', index=False)
df_reto_3.head()

,Unnamed: 0,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute
0,0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near-Earth-asteroid-orbits-similar-to-that-of-...,2154652,154652 (2004 EP20),968.571811
1,1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near-Earth-asteroid-orbits-which-cross-the-Ear...,3153509,(2003 HM),741.062629
2,3,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near-Earth-asteroid-orbits-similar-to-that-of-...,3837644,(2019 AY3),1348.716917
3,4,3843493-(2019 PY),0,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near-Earth-asteroid-orbits-similar-to-that-of-...,3843493,(2019 PY),299.921473
4,5,3765015-(2016 WR48),0,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An-asteroid-orbit-contained-entirely-within-th...,3765015,(2016 WR48),447.905361

Pídele a tu experta la función de verificación `revisar_resultados` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [10]:
# Pega aquí la función de verificación

def revisar_resultados(df_reto_3):
    
    import pandas as np
    import pandas.api.types as pdtypes
    
    assert pdtypes.is_int64_dtype(df_reto_3['is_potentially_hazardous_asteroid']), 'La columna "is_potentially_hazardous_asteroid" no ha sido transformada a tipo numerico'
    assert len(df_reto_3['is_potentially_hazardous_asteroid'].unique()) == 2, 'Hubo un error con la correspondencia de valores booleanos a numéricos. Hay más de dos valores posibles en la columna resultante'
    assert df_reto_3['relative_velocity.kilometers_per_minute'].equals(df_reto_3['relative_velocity.kilometers_per_hour'] / 60), 'La conversión de kilometros por hora a kilómetros por minuto no fue realizada correctamente'
    
    print(f'Todos los procesos fueron realizados exitosamente!')

revisar_resultados(df_reto_3)

Todos los procesos fueron realizados exitosamente!